table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #cacaca;
    font-weight: bold;
    border: 1px solid #7e7e7e;
}

td {
    border: 1px solid #ccc;
}

td,
th {
    padding: 5px;
    text-align: left;
    font-size: 18px;
}
